@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold;
}

* {
  -ms-overflow-style: none;
}

body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 15px;
  z-index: 10;
}

::-webkit-scrollbar-track {
  background: #181818;
}

::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 5px;
}